@model Product

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Remove Product</h2>
        <hr />
    </div>

    <form asp-action="Remove" method="post">
        @Html.AntiForgeryToken()


        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label>Product Name</label>
            <input asp-for="Title" class="form-control" readonly />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>ISBN</label>
            <input asp-for="ISBN" class="form-control" readonly />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        


        <button type="submit" class="btn btn-primary" style="width:150px">
            Remove
        </button>
    </form>
</div>